<section class="wthree-row pt-sm-5" id="pricing">
  <div class="container py-md-5 py-3">
    <h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">pricing plans</h3>
    <div class="row pb-5 main-row">
      <div class="row col-lg-12">
        <div class="bg-price py-sm-3 rounded-top text-center">
          <h4>Dry Cleaning</h4>
          <span class="mx-auto my-2"></span>
        </div>
       
        <div class="table-responsive-sm no-wrap-text">
           <h3>Gentlemen</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">
                  Standard(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
                <th scope="col">
                  Gold Service(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2 PC Suit</td>
                <td>10.00</td>
                <td>14.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2 PC Evening Suit</td>
                <td>12.00</td>
                <td>16.00</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Jacket</td>
                <td>6.00</td>
                <td>8.00</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Trousers</td>
                <td>4.50</td>
                <td>6.50</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Knitwear</td>
                <td>5.00</td>
                <td>6.50</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Coat</td>
                <td>10.00</td>
                <td>12.00</td>
              </tr>

              <tr>
                <th scope="row">7</th>
                <td>Overcoat/Raincoat</td>
                <td>15.00</td>
                <td>17.00</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Shirt</td>
                <td>3.50</td>
                <td>4.99</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Tie</td>
                <td>3.00</td>
                <td>4.00</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Waistcoat</td>
                <td>5.00</td>
                <td>6.00</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>Ski Suit</td>
                <td>25.00</td>
                <td>30.00</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>Ski Jump Suit</td>
                <td>25.00</td>
                <td>30.00</td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="table-responsive-sm no-wrap-text">
          <h3>Ladies</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">
                  Standard(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
                <th scope="col">
                  Gold Service(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Dress</td>
                <td>8.00</td>
                <td>10.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Evening Dress</td>
                <td>18.00</td>
                <td>20.00</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2 PC Suit</td>
                <td>10.00</td>
                <td>12.00</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Jacket</td>
                <td>6.00</td>
                <td>8.00</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Trousers</td>
                <td>4.50</td>
                <td>6.50</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Skirt</td>
                <td>4.00</td>
                <td>5.00</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Blouse</td>
                <td>4.50</td>
                <td>5.50</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Knitwear</td>
                <td>5.00</td>
                <td>6.00</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Scarf</td>
                <td>4.50</td>
                <td>5.50</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Pashmina</td>
                <td>6.00</td>
                <td>7.00</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>Top</td>
                <td>4.50</td>
                <td>5.50</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>Wedding Dress From</td>
                <td>45.00</td>
                <td>50.00</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive-sm no-wrap-text">
          <h3>Suede & Leather</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">
                  Standard(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
                <th scope="col">
                  Gold Service(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Jacket</td>
                <td>40.00</td>
                <td>45.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Skirt</td>
                <td>25.00</td>
                <td>30.00</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Trousers</td>
                <td>45.00</td>
                <td>50.00</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Coat</td>
                <td>45.00</td>
                <td>50.00</td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="table-responsive-sm no-wrap-text">
          <h3>Suede & Leather</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">
                  Standard(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
                <th scope="col">
                  Gold Service(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Trousers Lengthen/Shorten</td>
                <td>10.00</td>
                <td>15.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Trousers Waist Alteration</td>
                <td>12.00</td>
                <td>15.00</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Trousers Zip 1</td>
                <td>12.00</td>
                <td>15.00</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Trousers</td>
                <td>4.5</td>
                <td>6.5</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Half Pockets</td>
                <td>12.00</td>
                <td>15.00</td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="table-responsive-sm no-wrap-text">
          <h3>Special Offers</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">
                  Standard(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
                <th scope="col">
                  Gold Service(£)
                  <br/>
                  <span>prices starting from</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Two 2 Piece Suit</td>
                <td>15.00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>One 2Piece Suit & 5 Shirts (Hang)</td>
                <td>15.00</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>5 Shirts (Hang)</td>
                <td>08.00</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>1 Shirts Press only (Hang)</td>
                <td>1.00</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>3 Trousers</td>
                <td>10.50</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="row col-lg-12 sub-sections">
          <div class="col-lg-3 col-md-6 text-center  pb-0 pt-3 px-3 agile-pricegrid">
            <div class="p-3">
              <h4 class="service-type">Gentlemen</h4>
              <h5 class="pt-2">
                <sup>£</sup>10-30</h5>
              <span>Standard/Gold</span>
            </div>
            <ul class="list-group-flush">
              <li class="list-group-item">2 PC Suit: 10.0/14.0</li>
              <li class="list-group-item">2 PC Evening Suit: 12.0/16.0</li>
              <li class="list-group-item">Jacket: 6.0/8.0</li>
              <li class="list-group-item">Trousers: 4.5/6.5</li>
              <li class="list-group-item">Knitwear: 5.0/6.5</li>
              <li class="list-group-item">Coat: 10.0/12.0</li>
              <li class="list-group-item">Overcoat/Raincoat: 15.0/17.0</li>
              <li class="list-group-item">Shirt: 3.50/4.99</li>
              <li class="list-group-item">Tie: 3.0/4.0</li>
              <li class="list-group-item">Waistcoat: 5.0/6.0</li>
              <li class="list-group-item">Ski Suit: 25.0/30.0</li>
              <li class="list-group-item">Ski Jump Suit: 25.0/30.0</li>
            </ul>
            <div class="py-3 px-2">
              <button type="button" class="btn btn-info btn-lg btn-block text-md-center" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center  pb-0 pt-3 px-3 agile-pricegrid">
            <div class="bg-price py-sm-3 rounded-top text-center">
              <h4>Dry Cleaning</h4>
              <span class="mx-auto my-2"></span>
              <img class="img-responsive pricing-images" src="/assets/g1.jpg" alt="" />
            </div>
            <div class="p-3">
              <h4 class="service-type">Ladies</h4>
              <h5 class="pt-2">
                <sup>£</sup>8.0-45.0</h5>
              <span>Standard/Gold</span>
            </div>
            <ul class="list-group-flush">
             <li class="list-group-item">Dress: 8.0/10.0</li>
              <li class="list-group-item">Evening Dress: 18.0/20.0</li>
              <li class="list-group-item">2 PC Suit: 10.0/12.0</li>
              <li class="list-group-item">Jacket: 6.0/8.0</li>
              <li class="list-group-item">Trousers: 4.5/6.5</li>
              <li class="list-group-item">Skirt: 4.0/5.0</li>
              <li class="list-group-item">Blouse: 4.5/5.5</li>
              <li class="list-group-item">Knitwear: 5.0/6.0</li>
              <li class="list-group-item">Scarf: 4.5/5.5</li>
              <li class="list-group-item">Pashmina: 6.0/7.0</li>
              <li class="list-group-item">Top: 4.5/5.5</li>
              <li class="list-group-item">Wedding Dress From: 45.00</li>
            </ul>
            <div class="py-3 px-2">
              <button type="button" class="btn btn-info btn-lg btn-block text-md-center" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center  pb-0 pt-3 px-3 agile-pricegrid">
            <div class="p-3">
              <h4 class="service-type">Suede & Leather</h4>
              <h5 class="pt-2">
                <sup>£</sup>25-45</h5>
              <span>Standard</span>
            </div>
            <ul class="list-group-flush">
              <li class="list-group-item">Jacket: 40.00</li>
              <li class="list-group-item">Skirt: 25.00</li>
              <li class="list-group-item">Trousers: 45.00</li>
              <li class="list-group-item">Coat: 45.00</li>
            </ul>
            <div class="py-3 px-2">
              <button type="button" class="btn btn-info btn-lg btn-block text-md-center" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center  pb-0 pt-3 px-3 agile-pricegrid">
            <div class="p-3">
              <h4 class="service-type">Repairs & Alterations</h4>
              <h5 class="pt-2">
                <sup>£</sup>10-12</h5>
              <span>Standard</span>
            </div>
            <ul class="list-group-flush">
              <li class="list-group-item">Trousers Lengthen/Shorten: 10.00</li>
              <li class="list-group-item">Trousers Waist Alteration: 12.00</li>
              <li class="list-group-item">Trousers Zip 1: 12.00</li>
              <li class="list-group-item">Trousers: 4.5/6.5</li>
              <li class="list-group-item">Half Pockets: 12.00</li>
            </ul>
            <div class="py-3 px-2">
              <button type="button" class="btn btn-info btn-lg btn-block text-md-center" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">Get Started</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>