<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      n aim to provide you more ease and comfort in dealing with your dry cleaning and laundry, we at QuickSilver Dry Cleaners offer a Collection & Delivery service. Allowing you to have your dirty laundry and clothes taken from your doorstep and delivered back to you fresh and crispy. Our team would collect and deliver on a time slot basis, based on what times are suitable for you, you can book a collection & delivery today via our booking form on the website.
      <br/>
        We currently cover the following areas; Clapham, Battersea, Tooting, Balham, Streatham, Wandsworth, Brixton And Norbury.
      </br>
        You can either book through our website or give us a call today!
    </p>
</div>
</section>