<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      Our Dry-cleaning service is all about our attention to detail. All of our operators are highly skilled in working with all types of fabrics and will be able to treat the garment in the best manner to make your garment look at its best.
    </p>
    <span>
      Dry Cleaning Platinum service
    </span>
    <p>
      The platinum service includes our spotters to inspect your garment for any potential small repairs such as; Buttons, dropping the cuff or pushing the hem back up. With the use of the latest Dry-cleaning machinery and skilled workforce, we ensure that our cleaning and pressing is perfect. The final product will be well packaged and presented with the correct protective materials for the garment.
    </p>
</div>
</section>