<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      The quality of our home linen laundry is second to none. The ironing and pressing will make your bed sheets beautifully crisp and exceptionally finished. Nothing beats sinking into a penguin laundered bed set at the end of a long day.
    </p>
    <span>
      Linen Platinum Service,
    </span>
    <p>
      Have your table cloths and napkins professionally laundered by us. If you have a fancy lace or a beautiful damask then you needn’t worry. At penguin we have years of experience and will know how to make it look absolutely superb. Your linen will be finished by hand with a soft to touch finish.
      <br/>
      It will also be nurtured back to as near to new as we can get it. Your luxury linen will be beautifully arranged, and also tissued to enhance its presentation.
    </p>
</div>
</section>