<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      Suede and Leather garments require specialised cleaning techniques in able to get the best finish for your garments. Quiet often a garment is made up of several different types of skins, demanding specialised finishing on the garment. We at Penguin Dry Cleaners can provide you a reasonable and quality cleaning and alteration service for you Leather and Suede’s garments.
    </p>
</div>
</section>