<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      Give us a call in regards to your garment alterations and we will happily offer you all the standard repairs and alterations that you may require. Our team of highly experienced tailors will undertake your repairs to the upmost quality, whether its shortening your jacket sleeves or tapering your trousers.
    </p>
</div>
</section>