<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      Professional full shirt laundry service. You can choose to have your shirts hanging or folded. Folded shirts are individually packed with cellophane.
    </p>
    <span>
      Shirt Gold Services
    </span>
    <p>
      Your shirts will be brought back as near to new as we can get them. They will be packed on a wide board and be tissue’d. There really is no shirt service in London to match ours!
    </p>
</div>
</section>