<%= render "layouts/partials/service_banner" %>
<section class="w3-service">
  <div class="container info-text">
    <p>
      After your wedding day you will need no doubt wish to have your special dress restored, hence we at Penguin Dry Cleaners offer a wedding dress restoration service. Your dress will go through a spotting procedure before getting cleaned, in aim to get rid of all stains, so that your dress is returned to you spotless.
    </p>
    <span>
      Platinum Service
    </span>
    <p>
      With Penguin you can choose how your dress is returned to you, either in a presentation box with a tissue paper or hanging as you prefer. You can be rest assured that our team will apply our skills and experience to clean your wedding process to the highest standard possible.
    </p>
</div>
</section>