.header-logo{
  max-width: 80px;
  max-height: 80px;
}

.store-front{
  width: 200px;
}

#pricing .pricing-images{
  width: 250px !important;
}

#pricing .bg-price{
  width: 100% !important;
} 

#pricing .main-row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#pricing .sub-sections{
  padding-right: 0px;
  padding-left: 20px;
}

#pricing .sub-sections .service-type{
  white-space: nowrap;
}

.marquee-text{
  font-size: 20px;
  color: #48BF91;
  font-weight: bold;
}

#pricing .table{
  text-align: center;
}

#pricing .table-responsive-sm{
  width: 100%;
}

.no-wrap-text{
  white-space: nowrap;
}

.contact-section {
    height: 100%;
}

#service .container .banner-text{
  /*padding: 15vw 0 0;*/
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

#service{
  height: 35vh;
}

.w3-service .container.info-text{
  text-align: center;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  padding: 57px 39px;
}

#service .container, #service .container .banner-text, #service .container .banner-text h1{
  height: 100%;
}

#service .container .banner-text h1{
  display: flex;
  align-items: center;
}

.services-nav-link .dropdown-item.active, .dropdown-item:active{
  background-color: transparent !important;
}


/*.slider-info h3{
  color: #48bf91 !important;
  text-shadow: 4px 1px 1px white !important;
}*/

