.header-logo{
  max-width: 80px;
  max-height: 80px;
}

.store-front{
  width: 200px;
}

#pricing .pricing-images{
  width: 250px !important;
}

#pricing .bg-price{
  width: 100% !important;
} 

#pricing .main-row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#pricing .sub-sections{
  padding-right: 0px;
  padding-left: 20px;
}

#pricing .sub-sections .service-type{
  white-space: nowrap;
}

.marquee-text{
  font-size: 20px;
  color: #48BF91;
  font-weight: bold;
}

#pricing .table{
  text-align: center;
}

#pricing .table-responsive-sm{
  width: 100%;
}

.no-wrap-text{
  white-space: nowrap;
}

.contact-section {
    height: 100%;
}

#service .container .banner-text{
  /*padding: 15vw 0 0;*/
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

/*#service{
  height: 50vh;
}*/

.w3-service .container.info-text{
  text-align: center;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  padding: 57px 39px;
}

#service .container, #service .container .banner-text, #service .container .banner-text h1{
  height: 100%;
}

.banner#service{
  background: none;
}

#service .container .banner-text h3{
  display: flex;
  align-items: center;
  color: #48BF91;
  height: 100%
}

.services-nav-link .dropdown-item.active, .dropdown-item:active{
  background-color: transparent !important;
}

#service .container .banner-text{
  margin: 0px !important;
}

#service.banner{
  position: relative;
}

#service .banner-image-holder{
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}


#service .banner-image-holder img{
  display: block;
  width: 100%;
  height: auto;
}

#service .banner-content-holder{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

@media screen and (max-width: 736px) {
#service .container .banner-text h3 {
    font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
.banner#service{
  height: auto
}

.banner#service .banner-image-holder{
  height: auto
}

.banner#service .banner-image-holder img{
  height: 200px;
}

#service .container .banner-text h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (min-width: 1400px) {
#service .banner-image-holder img{
  height: 450px;
}

/*#pricing .table-responsive-sm{
    overflow-x: scroll !important;
}*/


/*.slider-info h3{
  color: #48bf91 !important;
  text-shadow: 4px 1px 1px white !important;
}*/

/*ns72.domaincontrol.com

ns71.domaincontrol.com*/

