<section class="wthree-row w3-contact" id="contact">
  <div class="container">
    <h3 class="w3ls-title text-center text-capitalize pb-4 py-5">contact us</h3>
    <div class="row contact-form py-3">
      <!-- <div class="col-lg-6 wthree-form-left">
        <div class="contact-top1">
          <form action="#" method="get" class="f-color">
            <div class="form-group">
              <label for="contactusername">Name</label>
              <input type="text" class="form-control" id="contactusername" required>
            </div>
            <div class="form-group">
              <label for="contactemail">Email</label>
              <input type="email" class="form-control" id="contactemail" required>
            </div>
            <div class="form-group">
              <label for="contactcomment">Your Message</label>
              <textarea class="form-control" rows="5" id="contactcomment" required></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-block">Submit</button>
          </form>
        </div>
      </div> -->
      <!-- contact details -->
      <!-- contact map grid -->
      <div class="col-lg-12  mt-lg-0 mt-5 map contact-right contact-section">
        <!-- <iframe class="h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"
            allowfullscreen></iframe> -->
        <iframe class="h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.242249889674!2d-0.13745148413017125!3d51.56379241439908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761bac20f0676d%3A0x15d6b1f8a75f9fb8!2s63%20Junction%20Rd%2C%20Archway%2C%20London%20N19%205QU%2C%20UK!5e0!3m2!1sen!2s!4v1594847607101!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="address mt-3">
          <h5 class="pb-3 text-capitalize">Contact info</h5>
          <address>
            <p class="c-txt">63 Junction Road, N19 5QU London, United Kingdom.</p>
            <p>
              +44 20 7281 1111</p>
            <p>
            <p>
              ‎+44 77 3702 3260</p>
            <p>
            <p>
              <a href="mailto:quicksilverdrycleaners786@gmail.com">quicksilverdrycleaners786@gmail.com</a>
            </p>
          </address>
        </div>
      </div>
      <!--//contact map grid ends here-->
    </div>
    <!-- //contact details container -->
  </div>
</section>