<footer class="py-md-5 pt-5 pb-4">
  <div class="container">
    <!-- footer grid top -->
    <div class="footerv2-w3ls text-center">
      <h4 class="w3ls-title text-capitalize pb-3">socialize with us</h4>
      <ul class="social-iconsv2 agileinfo mt-3">
        <li>
          <%= link_to('<i class="fab fa-facebook-f"></i>'.html_safe, "https://www.facebook.com/quicksilverdrycleaners/", :target => "_blank") %>
        </li>
        <!-- <li>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li> -->
      </ul>
      <div class="fv3-contact mt-3">
        <span class="fas fa-envelope-open mr-2"></span>
        <p>
          <a href="mailto:quicksilverdrycleaners786@gmail.com" class="text-dark">quicksilverdrycleaners786@gmail.com</a>
        </p>
      </div>
      <div class="fv3-contact">
        <span class="fas fa-phone-volume mr-2"></span>
        <p>+44 20 7281 1111</p>
      </div>
      <div class="fv3-contact">
        <span class="fas fa-phone-volume mr-2"></span>
        <p>+44 77 3702 3260</p>
      </div>

    </div>
    <!-- copyright -->
    <div class="cpy-right text-center pt-5">
      <p>© 2020 Quick Silver Prodessional Dry Cleaners. All rights reserved | Design by
        <a href="https://bilalabbas.000webhostapp.com/" target="_blank"> Zeeshan Tarrar.</a>
      </p>
    </div>
    <!-- //copyright -->
  </div>
</footer>