<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to('<i class="fab fa-empire"></i>'.html_safe, root_path, class: "navbar-brand", method: "get") %>
      <%# <a class="navbar-brand" href="index.html">
        <i class="fab fa-empire"></i>
      </a> %>
      <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item active  mr-3">
            <%= link_to('Home<span class="sr-only">(current)</span>'.html_safe, root_path, class: "nav-link", method: "get") %>
          </li>
          <li class="nav-item  mr-3">
            <a class="nav-link scroll" href="#about">about</a>
          </li>
          <li class="nav-item dropdown mr-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item scroll" href="#services">Services</a>
              <a class="dropdown-item scroll" href="#team">Team</a>
              <a class="dropdown-item scroll" href="#gallery">Gallery</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item scroll" href="#pricing">Pricing Plans</a>
              <a class="dropdown-item scroll" href="#testimonials">Testimonials</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#contact">contact</a>
          </li>
        </ul>
        <button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-uppercase font-weight-bold" data-toggle="modal"
            aria-pressed="false" data-target="#exampleModal">
          order
        </button>

      </div>
    </nav>
  </div>
</header>