<div class="banner" id="home">
  <div class="container">
    <div class="banner-text text-center">
      <div class="callbacks_container">
        <ul class="rslides" id="slider3">
          <!-- <li>
            <div class="slider-info">
              <h3 class="text-capitalize">We care for all your valued garments</h3>
              <a class="btn btn-primary  mt-4 text-capitalize scroll" href="#about" role="button">read more</a>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3 class="text-capitalize">Trust Us, We Save Your Time.</h3>
              <a class="btn btn-primary  mt-4 text-capitalize scroll" href="#about" role="button">read more</a>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3 class="text-capitalize">we offer the best dry clean services</h3>
              <a class="btn btn-primary  mt-4 text-capitalize scroll" href="#about" role="button">read more</a>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>