<div class="banner" id="service">
  <div class="container">
    <div class="banner-text">
      <h1>
        <% if action_name == "repairs_alterations" %>
          Repairs & Alterations
        <% elsif action_name == "leather_suede" %>
          Leather & Suede
        <% elsif action_name == "collection_delivery" %>
          Collection & Delivery
        <% else %>
          <%= action_name.humanize.titlecase %>
        <% end %>     
    </div>
  </div>
</div>