<section class="wthree-row py-sm-5 py-3 slide-bg bg-dark">
  <div class="container py-md-5 py-3">
    <div class="py-lg-5 bg-pricemain">
      <h3 class="agile-title text-capitalize text-white">go dry clean!</h3>
      <span class="w3-line"></span>
      <h5 class="agile-title text-capitalize pt-4">trust us, we save your time.</h5>
      <p class="text-light py-sm-4 py-2">What we really want to do is what we are really meant to do. When we do what we are meant to do, money comes to us, doors open for us, we feel useful, and the work we do feels like play to us.
      </p>
      <!-- <a href="#" class="text-uppercase serv_link align-self-center bg-light btn px-4">read more</a> -->
    </div>
  </div>
</section>